@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    /* font-family: 'Montserrat', sans-serif; */
    @apply font-sans;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
}
.gradient-text {
  background-image: linear-gradient(to right, #903AFF, #FE34B9);
  -webkit-background-clip: text;
  color: transparent;
}
